* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif; /*tipografia*/
  color: #d4d4d4;
}

body {
  font-family: sans-serif;
  background-color: rgba(0, 0, 0, 0.836);
}

header {
  width: 100%;
  clear: both;
  position: fixed;
  display: table;
}

.barraHeader {
  width: auto;
  height: 70px;
  background: linear-gradient(rgba(5, 12, 7, 0.75), rgba(5, 12, 7, 0.75)), url(/img/banner2.jpg); 
  /*imagen con transparencia*/
  border-radius: 17px;
}

#iconoArgPrograma {
  width: 120px;
  margin-top: 6px;
  margin-left: 15px;
  margin-bottom: 0px;
  padding-top: 0px;
  float: left;
}

#iconoArgPrograma:hover {
  width: 125px;
}

.ico {
  width: 40px;
}

#iconoFacebook {
  margin-top: 15px;
  float: left;
  position: absolute;
  right: 155px;
}

#iconoFacebook:hover {
  width: 45px;
}

#iconoInstagram {
  margin-top: 15px;
  float: left;
  position: absolute;
  right: 200px;
}

#iconoInstagram:hover {
  width: 45px;
}

#login {
  background-color: rgba(58, 0, 58, 0);
  color: rgb(126, 125, 125);
  position: absolute;
  right: 20px;
  width: 120px;
  height: 30px;
  margin-top: 15px;
  border-radius: 15%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#login:hover {
  cursor: pointer;
  color: gold;
  background-color: #31184a;
}

#banner {
  width: 100%;
  height: 400px;
  background-color: #030303;
}

/*bloquea el banner en el centro, le da un max y min de zoom hasta 1200px (tamaño de la imagen*/
#banner {
  background: linear-gradient(rgba(5, 12, 7, 0.75), rgba(5, 12, 7, 0.75)), url(/img/banner2.jpg); 
  /*imagen con transparencia*/
  border-radius: 20px;
}

.banner__fotoPerfil {
  width: 250px;
  margin-top: 250px;
}

.perfil {
  margin-top: 100px;
  padding-left: 40px;
  padding-top: 20px;
  float: left;
}

.perfil__h2{
  font-size: 40px;
  font-family: 'Dancing Script', cursive;
  
}

.perfil__h4  {
  font-size: 30px;
  font-family: 'Dancing Script', cursive;

}

.acerca-de-mi {
  margin-left: 500px;
  width: 1500px;
  padding: 20px 20px 20px 20px;
  background: linear-gradient(rgba(5, 12, 7, 0.75), rgba(5, 12, 7, 0.75)), url(/img/fondoGeometrico.jpg); 
  font-size: 20px;
  border-radius: 20px;
  
}

.acerca-de-mi__h3 {
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
  text-align: center;
}

.acerca-de-mi__p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.3em;
  font-style: italic;
}
.acerca-de-mi__p2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}


.aviso {
  padding: 0.5em;
  border: 1px solid #98be10;
  background: #f6feda;
}

.error {
  color: #930;
  font-weight: bold;
}

.sangriaGrande {
  margin-left: 100px;
}

iframe {
  width: 50%;
  height: 30vh;
}


.experiencia {
  width: 450px;
  height: 200px;
  margin-left: 500px;
  margin-top: 40px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: linear-gradient(rgba(5, 12, 7, 0.75), rgba(5, 12, 7, 0.75)), url(/img/fondoGeometrico3.jpg); 
  /*imagen con transparencia*/
  border-radius: 20px;
  font-size: 20px;
  float: left;
}

#logoGN {
  width: 160px;
  height: 90px;
  float: left;
  padding-top: 15px;
  margin-right: 50px;
}


.estudios {
  width: 700px;
  height: 400px;
  margin-left: 1000px;
  padding:  20px 20px 20px 40px;
  background: linear-gradient(rgba(5, 12, 7, 0.75), rgba(5, 12, 7, 0.75)), url(/img/Biblioteca.jpg); 
  border-radius: 20px;
  font-size: 20px;
}

.acerca-de-mi__h3--size {
  font-family: 'Dancing Script', cursive;
  font-size: 1.4em;
}

.centrados {
  text-align: center;
  margin: auto;
}

form {
  width: 450px;
  margin: auto;
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.13);
  padding: 20px 20px;
  box-sizing: border-box; /*relleno del padding hacia adento*/
  border-radius: 7px;
  text-align: center;
}

form > h3 {
  margin-bottom: 17px;
  font-size: 30px;
  font-family: monospace;
}

form > p {
  margin-bottom: 17px;
  font-size: 17px;
}

form > input,
textarea {
  width: 100%;
  margin-bottom: 20px;
  font-size: 17px;
}

form > textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

#enviar {
  background: rgb(58, 0, 58);
  color: beige;
  padding: 20px;
}

#enviar:hover {
  cursor: pointer;
  color: gold;
  background-color: #31184a;
}

#curso {
  color: aliceblue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: large;
  float: left;
  margin-top: 20px;
  margin-left: 150px;
  position: absolute;
}

